@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --section: #08748c;
  --orange: #f97f0f;
  --green: #08748c4d;
  --black: #000000;
  --righteous: "Righteous", sans-serif;
  --reddit: "Reddit Sans", sans-serif;
  --orange2: #FCBB80;
  --icon1:#CFD0ED;
  --icon2: #BFE6DD;
  --info: #F6FDFF;

}

/* navbar */
header {
  background-color: var(--section);
}
.calmbear{
width: 150px;
height: 100px;
padding: 16px 0px 16px 0px;
gap: 7px;
border-radius: 4px 0px 0px 0px;
}
button{
border: none;
}
.app{
  font-family: var(--reddit);
  background-color: var(--orange);
  border-radius: 5px;
  width: 150px;
}
#app{
  color: white;
  font-family: var(--reddit);
  font-weight: 500;
  font-size: 15px;
  line-height: 25.98px;
}
.reg{
  font-family: var(--reddit);
  background-color: var(--green);
  width: 150px;
}
#reg{
  color: var(--orange);
  font-family: var(--reddit);
  border: 1px solid var(--orange);
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25.98px;
}

/* hero section  */
 #hero-section {
  background-color: var(--green);
  width: 100%;
}
#hero-section {
  width: 100%;
}

#hero-section h1 {
  color: #000000;
  font-family: var(--righteous);
  padding-right: 50px;
  width: 508px;
}
#hero-section p {
  color: #000000;
  line-height: 20.78px;
  font-weight: 400;
  font-family: var(--reddit);
}
#btn-container2 {
  display: flex;
  gap: 12px;
}
#hero-sectionbtn1 {
  width: 248px;
  font-size: 20px;
  height: 50px;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px, 36px, 12px, 36px;
}
#hero-sectionbtn2 {
  width: 248px;
  font-size: 20px;
  height: 50px;
  border: 1px solid var(--orange);
  color: var(--orange);
  background: transparent;
  padding: 12px, 36px, 12px, 36px;
  border-radius: 8px;
}
#hero-section img{
    width : 511.62px; 
    height:517.96px;
}


/* section 1 */

#section1{
  display: flex;
  justify-content: center;
  background-color: var(--orange2);
  height: 150px;
  top: 747px;
  left: 120px;
  padding: 36px 23px 36px 23px;
  gap: 76px;
  border-radius: 20px;
  position: absolute;
}

#section1 h1{
font-family: var(--righteous);
font-size: 41px;
font-weight: 400;
line-height: 50.91px;
text-align: left;
}

#section1 p{
font-family: var(--reddit);
font-size: 24px;
font-weight: 400;
line-height: 31.17px;
text-align: left;
}

/* about */
.about h1{
font-family: var(--righteous);
font-size: 48px;
font-weight: 400;
line-height: 59.6px;
text-align: left;
padding-top: 150px;
}

.about p{
font-family: var(--reddit);
font-size: 13px;
font-weight: 400;
line-height: 20.78px;
text-align: left;
}

.about button{
width: Hug (169px)px;
height: Fixed (50px)px;
padding: 12px 36px 12px 36px;
gap: 7px;
border-radius: 8px ;

}
.readmore button{
  background-color: var(--orange);
}
.readmore a{
  color: white;
  text-decoration: none;
}
.about img{
width: 652px;
height: 545px;
border-radius: 10px;
padding-top: 120px;
} 

.about{
  background-image: url(./Group\ 3.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 200px;
}

/* what we offer */
#offer{
background-color: var(--green);
}

#offer img{
width: 698px;
height: 605px; 
}

#offer h1{
font-family: var(--righteous);
font-size: 48px;
font-weight: 400;
line-height: 59.6px;
}

#offer p{
font-family: var(--reddit);
font-size: 18px;
font-weight: 500;
line-height: 31.17px;
} 

li::marker{
  color: var(--orange);
}

li{
font-family: var(--reddit);
font-size: 16px;
font-weight: 400;
line-height: 32px;
}

#div2 button{
width: 273px;
height: 50px;
padding: 12px 36px 12px 36px;
gap: 7px;
border-radius: 8px ;
}
#div2 a{
font-family: var(--reddit);
font-size: 20px;
font-weight: 500;
line-height: 25.98px;
text-decoration: none;
}
.bapp{
  background-color: var(--orange);
}
 .app2{
  color: white;
  
} 

.breg{
  background-color: transparent;
  border: 1px solid var(--orange);
}
.reg2{
  color: var(--orange);
} 

#div2{
  display: flex;
  gap: 12px;
}


/* how to get started */

.div-arrow{
  padding-top: 30px;
}
.div-arrow h1{
font-family: var(--righteous);
font-size: 38px;
font-weight: 400;
line-height: 59.6px;
text-align: center;
}
.div-arrow p{
font-family: var(--reddit);
font-size: 14px;
font-weight: 400;
line-height: 20.78px;
text-align: center;
}

#div-arrow2{
  text-align: center;
}

#div-arrow2 img{
width: 200px;
height: 60px;
}

#div-arrow2 h3{
font-family: var(--righteous);
font-size: 20px;
font-weight: 400;
line-height: 29.8px;
}

#div-arrow2 p{
font-family: var(--reddit);
font-size: 14px;
font-weight: 400;
line-height: 20.78px;
}

/* why choose calmbear */
.section-6{
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.left-div{
width: 50%;
}
.left-div h1{
font-family:var(--righteous);
font-size: 48px;
font-weight: 400;
line-height: 62.02px;
text-align: left;
}
.left-div p{
font-family: var(--reddit);
font-size: 13px;
font-weight: 400;
line-height: 20.78px;
text-align: left;
}

.left-div .div-btn1{
background-color: var(--orange);
color: white;
width: 200px;
height:50px;
padding: 12px 36px 12px 36px;
gap: 7px;
border-radius: 8px;
}
.left-div .div-btn2{
background-color: transparent;
color: var(--orange);
width:200px;
height:50px;
padding: 12px 75px 12px 75px;
gap: 7px;
border-radius: 8px ;
border: 1px solid var(--orange);
}
 .right-div{
  padding-top: 40px;
}

.right-div h3{
font-family: var(--righteous);
font-size: 24px;
font-weight: 400;
line-height: 29.8px;
}

.right-div p{
font-family: var(--reddit);
font-size: 16px;
font-weight: 400;
line-height: 20.78px;
padding-bottom: 10px;
}
 .icon1{
background-color: var(--icon1);
border-radius: 5px;
padding-left: 10px; 
width: 306px;
margin-right: 20px;
}

 .icon2{
  background-color: var(--icon2);
  border-radius: 5px;
  padding-left: 10px;
  width: 306px;
}
.right-div img{
  width: 40px;
  margin-top: 10px;
} 
 
/* what our customers say */
.cus{
font-family: var(--righteous);
font-size: 30px;
font-weight: 400;
line-height: 59.6px;
text-align: center;
padding-top: 20px;
}

.info{
display: flex;
justify-content: space-between;
padding: 17px 14px 17px 14px;
gap: 20px;
border-radius: 10px;
}

.info-ppl{
  background-color: var(--info);
  margin-right: 20px;
}
.info-ppl h3{
font-family: var(--reddit);
font-size: 16px;
font-weight: 400;
line-height: 31.17px;
text-align: center;
margin-top: 10px;
}
.info-ppl img{
width: 50px;
height: 55px;
}

.info-ppl p{
font-family: var(--reddit);
font-size: 20px;
font-weight: 500;
line-height: 36.37px;
text-align: center;
}

/* ready to begin */
 .flower{
  background-image: url(./flowers.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: left;
  height: 306px;
  padding: 52px 345px 52px 345px;
 }
 .flower div{
  text-align: center;
 }
 .flower h1{
font-family: var(--righteous);
font-size: 38px;
font-weight: 400;
line-height: 59.6px;
text-align: center;
color: white;
 }

 .flower button{
 font-family: var(--reddit);
font-size: 15px;
font-weight: 500;
line-height: 25.98px;
 }

.flower-btn{
width: 207px;
height: 50px;
padding: 12px 36px 12px 36px;
gap: 7px;
border-radius: 8px ;
background-color: var(--orange);
color: white;
}

.flower-btn2{
width: 224px;
height: 50px;
padding: 12px 75px 12px 75px;
gap: 7px;
border-radius: 8px ;
border: 1px solid var(--orange);
background-color: transparent;
color: var(--orange);
}
/* 
/* footer */
footer{
  background-color: #000000;
  color: white;
  padding: 55px 0;
}

.top-footer{
  display: flex;
  justify-content: space-between;
}
#one img{
width:154px;
padding: 16px 0px 16px 0px;
border-radius: 4px;
}
#one p{
font-family: var(--reddit);
font-size: 18px;
font-weight: 400;
line-height: 23.38px;
text-align: left;
}
.subscribe  {
  align-content: center;
  width: 320px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--reddit);
}
.subscribe input {
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 8px;
  padding-left: 5px;
}
.subscribe button {
  border: none;
  border-radius: 6px;
  padding: 9px 17px 9px 17px;
  background-color:var(--orange);
  color: white;
  }

#two ul li {
  margin: 10px 0;
}
#two ul li a {
color: white;
text-decoration: none;
font-size: 14px;
font-family: var(--reddit);
font-size: 16px;
font-weight: 500;
line-height: 20.78px;
text-align: left;
}
#two h1{
padding-top: 100px;
font-family: var(--reddit);
font-size: 24px;
font-weight: 500;
line-height: 31.17px;
text-align: left;
}

#three h1{
font-family: var(--reddit);
font-size: 24px;
font-weight: 500;
line-height: 31.17px;
text-align: left;
padding-top: 100px;
padding-bottom: 10px;
}




